@import '../../style/variables.scss';

.upload-card {
  border: 1px solid $color-neutral-black;
  width: 520px;
  height: 132px;
  border: 1px dashed $color-grey-60;
  border-radius: 33px;
}

.upload-lesson-card {
  width: 501px;
  height: 288px;
  border: 1px dashed $color-grey-60;
  border-radius: 33px;
}

.upload-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ref-button {
  display: none;
}

.browser {}

.browser:hover {
  cursor: pointer;
}

.lesson-cancel:hover {
  cursor: pointer;
}