@import '../../style/variables.scss';

.wnumber-card-body {
  font-family: 'Jannal';
}

.wnumber-card {
  border-radius: 17px 35px 17px;
  background: $color-primary-100;
  border-radius: 20px;
  border: 1px solid $color-primary-100;
  padding: 40px 24px;
  display: flex;
  justify-content: flex-end;
  width: 406px;
  height: 171px;
}

.wnumber-card-label {
  color: $color-grey-10;
}

.wnumber-card-value {
  color: $color-neutral-white;
  text-align: end;
}