.wnumber-card{
  border-radius: 17px 35px 17px;
  background: #05A5D1;
  border-radius: 20px;
  border:1px solid #05A5D1;
  padding:40px 24px;
  display: flex;
  justify-content: flex-end;
  width: 406px;
  height: 171px;
}
.wnumber-card-label{
  color: #F1F6FE;
}
.wnumber-card-value{
  color: #FFFFFF;
  text-align: end;
}