@import '../../style/variables.scss';

.progressbar-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 494px;
  height: 42px;
  color: $color-grey-60;
  font-family: 'Jannal';
}

.progress-left {}

.progress-right {
  height: 7px;
}

.progress-percent {
  display: flex;
  width: 100%;
  height: 7px;
}

.progress-left {
  background-color: $color-grey-10;
}

.progress-right {
  background-color: $color-primary-100;
}

.percentage {
  color: $color-primary-100;
  padding-top: 8px;
}

.percentage-limit-inactive {
  color: $color-grey-60;
}

.percentage-limit-active {
  color: $color-grey-100;
  font-size: 16px;
}