@import '../style/variables.scss';

.v-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.v-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.badge {
  font-family: 'Jannal';
  font-size: 12px;
  display: flex;
  justify-content: space-around;
}

.warning-badge {
  border: 1px solid $color-danger-80;
  background-color: #FFE5EC;
  color: $color-danger-80;
}

.success-badge {
  border: 1px solid #6DD400;
  opacity: 1;
  background-color: #6DD4000F;
  color: #6DD400;
}

.s-1 {
  width: 82px;
  height: 32px;
  font-size: 12px;
  border-radius: 41px;
}

.s-2 {
  max-width: 36px;
  height: 20px;
  font-size: 12px;
  border-radius: 41px;
}

.s-3 {
  width: 68px;
  height: 32px;
  font-size: 15px;
}

.low {
  background: $color-grey-60 ;
  border-radius: 16px;
  color: #fff;
  display: flex;
  padding: 0 14px;
}

.high {
  background: #F6BB05;
  border-radius: 16px;
  color: #fff;
  display: flex;
  padding: 0 14px;
}