.tab-enable{
 background-color: #05A5D1;
 border:1px solid #05A5D1;
 border-radius: 30px;
 padding:6px 16px;
}
.tab-disable{
 background-color: #05A5D11A;
 border-radius: 30px;
 border:1px solid #05A5D11A;
 padding:6px 16px;
 color:#05A5D1
}