@import '../../style/variables.scss';

.page-item.active .page-link {
  background-color: $color-primary-100;
  border-color: $color-primary-100;
}

.page-link {
  color: $color-primary-100;
  border-radius: 5px;
}

.pagination li {
  margin-left: 5px;
  margin-right: 5px;
}

.pagination li.active {
  border-bottom: 0 solid $color-neutral-white;
}