@import '../../style/variables.scss';

.phone-card {
  height: 300px;
  font-family: 'Jannal';
}

.dropdown-relative {
  position: relative;
  border-radius: 0 30px 30px 0;
  background-color: $color-grey-10;
}

.dropdown-left {
  width: 390px;
  position: absolute;
  left: -332px;
  top: 50px;
}

.vue-tel-input {
  height: 52px;
  border: 1px solid $color-grey-60;
  border-radius: 33px;
  position: relative;
}

.vti__input {
  margin-left: 22px;
  border: none;
  border-radius: 0 66px 73px 0;
  width: 100%;
  outline: none;
  padding-left: 7px
}

.vti__dropdown-list.below {
  top: 50px;
}

.phone-label {
  position: absolute;
  font-size: 12px;
  right: 68px;
  top: -13px;
  background: $color-neutral-white;
  padding: 0px 5px;
}

.label-default {
  color: $color-grey-60;
}

.label-active {
  color: $color-primary-100;
}

.label-filled {
  color: #141821;
}

.phone-input-default {
  border: 1px solid $color-grey-60;
}

.phone-input-active {
  border: 1px solid $color-primary-100;
}

.phone-input-filled {
  border: 1px solid $color-grey-60;
}