$color-primary-100:#05A5D1;
$color-primary-80:#05A5D1CC;
$color-primary-30:#05A5D14D;
$color-primary-10:#05A5D11A;

$color-secondary-100:#09CED1;
$color-secondary-80:#09CED1CC;
$color-secondary-30:#09CED14D;
$color-secondary-10:#09CED11A;

$color-warning-100:#057274;
$color-warning-80:#06898B;
$color-warning-30:#FDF1D5;

$color-success-100:#00A423;
$color-success-80:#00D32E;
$color-success-30:#CCF6D5;

$color-danger-100:#E70240;
$color-danger-80:#FF0044;
$color-danger-60:#FF1A57;
$color-danger-30:#FFB2C6;
$color-danger-10:#FFE5EC;


$color-grey-100:#141821;
$color-grey-80:#8591A1;
$color-grey-60:#ACBBD0;
$color-grey-30:#D0D9E4;
$color-grey-10:#F1F6FE;

$color-neutral-black:#000000;
$color-neutral-white:#FFFFFF;

//background color
.bg-primary-100{
  background-color:$color-primary-100
}
.bg-primary-80{
  background-color:$color-primary-80
}
.bg-primary-30{
  background-color:$color-primary-30
}
.bg-primary-10{
  background-color:$color-primary-10
}

.bg-secondary-100{
  background-color:$color-secondary-100
}
.bg-secondary-80{
  background-color:$color-secondary-80
}
.bg-secondary-30{
  background-color:$color-secondary-30
}
.bg-secondary-10{
  background-color:$color-secondary-10
}

.bg-warning-100{
  background-color:$color-warning-100
}
.bg-warning-80{
  background-color:$color-warning-80
}
.bg-warning-30{
  background-color:$color-warning-30
}

.bg-success-100{
  background-color:$color-success-100
}
.bg-success-80{
  background-color:$color-success-80
}
.bg-success-30{
  background-color:$color-success-30
}


.bg-danger-100{
  background-color:$color-danger-100
}
.bg-danger-80{
  background-color:$color-danger-80
}
.bg-danger-60{
  background-color:$color-danger-60
}
.bg-danger-30{
  background-color:$color-danger-30
}
.bg-danger-10{
  background-color:$color-danger-10
}


.bg-grey-100{
  background-color:$color-grey-100
}
.bg-grey-80{
  background-color:$color-grey-80
}
.bg-grey-60{
  background-color:$color-grey-60
}
.bg-grey-30{
  background-color:$color-grey-30
}
.bg-grey-10{
  background-color:$color-grey-10
}
.bg-black{
  background-color:$color-neutral-black
}
.bg-white{
  background-color:$color-neutral-white
}

//font size
.f-1{
 font-size: 12px;
}
.f-2{
  font-size: 14px;
}
.f-3{
  font-size: 16px;
}
.f-4{
  font-size: 18px;
}
.f-5{
  font-size: 20px;
}
.f-6
{
  font-size: 22px;
}
.f-7
{
  font-size: 24px;
}
.f-8
{
  font-size: 26px;
}
.f-9
{
  font-size: 28px;
}
.f-10
{
  font-size: 30px;
}


//font color
.fc-white{
  color:$color-neutral-white
}
.fc-black{
  color:$color-neutral-black
}
.fc-primary{
  color:$color-primary-100
}
.fc-danger{
 color:$color-danger-100
}
.fc-success{
  color:$color-success-100
}

//align elements
.v-center{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.v-around{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.h-center{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


















