$color-primary-100:#05a5d1;
$color-primary-80:#05a5d1cc;
$color-primary-30:#05a5d14d;
$color-primary-10:#05a5d11a;
$color-secondary-100:#09ced1;
$color-secondary-80:#09ced1cc;
$color-secondary-30:#09ced14d;
$color-secondary-10:#09ced11a;
$color-warning-100:#057274;
$color-warning-80:#06898b;
$color-warning-30:#fdf1d5;
$color-success-100:#00a423;
$color-success-80:#00d32e;
$color-success-30:#ccf6d5;
$color-danger-100:#e70240;
$color-danger-80:#ff0044;
$color-danger-60:#ff1a57;
$color-danger-30:#ffb2c6;
$color-danger-10:#ffe5ec;
$color-grey-100:#141821;
$color-grey-80:#8591a1;
$color-grey-60:#acbbd0;
$color-grey-30:#d0d9e4;
$color-grey-10:#f1f6fe;
$color-neutral-black:#000000;
$color-neutral-white:#fff;

