@import '../../style/variables.scss';

.storybook-radio:checked,
.storybook-radio:not(:checked) {
  display: none;
  width: 0;
  height: 0;
}

.storybook-radio:checked+label,
.storybook-radio:not(:checked)+.radio-label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}

.storybook-radio:not(:checked)+.radio-label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  border: 2px solid #ddd;
  border-radius: 100%;
  background: $color-neutral-white;
}

.storybook-radio:checked+.radio-label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  border: 2px solid $color-primary-100;
  border-radius: 100%;
  background: #fff;
}

.storybook-radio:checked+.radio-label:after,
.storybook-radio:not(:checked)+label:after {
  content: '';
  width: 14px;
  height: 14px;
  background: $color-primary-100;
  position: absolute;
  top: 5.2px;
  left: 5.2px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.storybook-radio:not(:checked)+.radio-label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}