@import '../../style/variables.scss';

.tab-nav {
  display: flex;
  font-family: 'Jannal';
}

.tab-item {
  font-size: 22px;
  color: $color-grey-60;
}

.tab-item:hover {
  cursor: pointer;
}

.active {
  color: $color-primary-100;
  border-bottom: 2px solid $color-primary-100;
}